<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Директора</title>
</head>
<body>
<div layout:fragment="content">

    <h1>Все директора фильмотеки</h1>

    <div class="row">
        <div class="col" sec:authorize="isAuthenticated() && !hasRole('USER')">
            <a href="directors/add"
               class="btn btn-secondary"
               role="botton"
               style="float: right"
               aria-disabled="true"> Добавить директора </a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ФИО Директора</th>
            <th scope="col">Должность</th>
            <th scope="col">Фильмы</th>
            <th scope="col" sec:authorize="isAuthenticated() && (hasRole('ADMIN')|| hasRole('WORKER')) ">Добавить фильм</th>
            <th scope="col" sec:authorize="isAuthenticated() && (hasRole('ADMIN')|| hasRole('WORKER')) ">Редактировать</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="director : ${directors}">
            <td th:text="${director.getDirectorsFIO()}">ФИО директора</td>
            <td th:text="${director.getPosition()}"></td>

            <td>
                <ul>
                    <li th:each="film : ${director.getFilms()}" th:text="${film.getTitle()}"></li>
                </ul>
            </td>
            <td>
                <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('WORKER')) ">
                    <a class="btn btn-sm btn-outline-success" th:href="'/directors/add-film/' + ${director.id}">Добавить</a>
                </div>
            </td>
            <td>
                <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('WORKER'))">
                    <a class="btn btn-sm btn-outline-success"
                       th:href="'/directors/update/' + ${director.id}">Обновить</a>
                    <a th:if="${!director.isDeleted()}" class="btn btn-sm btn-outline-danger"
                       th:href="'/directors/delete/' + ${director.id}"
                       onclick="return confirm('Вы действительно хотите удалить книгу?')">Удалить</a>
                    <!--                    <a th:if="${director.isDeleted()}" class="btn btn-sm btn-outline-warning"-->
                    <!--                       th:href="'/directors/restore/' + ${director.getId()}">Восстановить</a>-->
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>