<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Изменить фильм</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3" th:text="'Обновить данные ' + ${film.getTitle()}"></h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST"
          th:action="@{/films/update}" th:object="${filmForm}">
        <input type="hidden" name="id"
               th:value="${film.getId()}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                    <input name="title" th:value="${film.getTitle()}" type="text" class="form-control" id="title"
                           placeholder="Название " required>
                    <label for="title">Название</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="genre" id="genre" required th:object="${film}"
                            th:field="*{genre}">
                        <option th:value="default">Выберете жанр из списка</option>
                        <option th:selected="${film.getGenre().getGenreTextDisplay()}"
                                th:each="genre : ${T(ru.edu.filmlibrary.libraryproject.model.Genre).values()}"
                                th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
                    </select>
                    <label for="genre">Жанр</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 form-floating">
            <input type="hidden" th:value="${film.getOnlineCopyPath()}" name="onlineCopy"
                   class="form-control form-control-sm">
            <input name="file" type="file" class="form-control form-control-sm" id="onlineCopy"
                   placeholder="Онлайн копия файла" style="padding-top: 2rem;">
            <label for="onlineCopy">Онлайн копия</label>
        </div>

        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="country"  type="text" class="form-control" id="country" placeholder="Страна" required>
                    <label for="country">Страна</label>
<!--                    <div class="invalid-feedback">Обязательное поле для заполнения</div>-->
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="premierYear" min="1888"  type="number" class="form-control" id="year"
                           placeholder="Год выхода" required>
                    <label for="year">Год выхода</label>
<!--                    <div class="invalid-feedback">Обязательное поле для заполнения</div>-->
                </div>
            </div>
        </div>

        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Обновить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>