<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Описание фильма</title>
</head>
<body>
<form layout:fragment="content">
    <div>
        <h3 th:text="'Информация о фильме: ' + ${films.getTitle()}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="title" class="col-sm-2 col-form-label no-border">Название:</label>
                <div class="col-sm-10">
                    <p th:text="${films.getTitle()}" type="text" readonly class="form-control-plaintext" id="title">
                </div>
            </div>
<!--            <div class="mb-2 row">-->
<!--                <label for="genre" class="col-sm-2 col-form-label">Жанр:</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <p th:text="${films.getGenre().getGenreTextDisplay()}" class="form-control-plaintext" id="genre">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="mb-2 row">-->
<!--                <label class="col-sm-2 col-form-label">Онлайн копия:</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <a class="text-link text-blue" th:if="${film.getOnlineCopyPath()} != null" th:href="@{|/films/download?filmId=${film.id}|}">-->
<!--                        <span>Скачать фильм</span>-->
<!--                    </a>-->
<!--                </div>-->


<!--            <div class="mb-2 row">-->
<!--                <label for="desc" class="col-sm-2 col-form-label">Описание:</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <p th:text="${films.getDirectors()}" class="form-control-plaintext" id="desc">-->
<!--                </div>-->
<!--            </div>-->
        </form>
        <hr class="hr"/>
<!--        <form class="row g-1">-->
<!--            <h4 class="mt-3 mb-3" th:text="'Информация о директоре(ах)'"></h4>-->
<!--            <div th:each="director : ${films.getDirectors()}">-->
<!--&lt;!&ndash;                <div class="mb-2 row">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label for="fio" class="col-sm-2 col-form-label">ФИО:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="text-link text-blue" th:href="'/directors/' + ${c.getId()}" th:text="${dirctor.getDirectorFio()}" id="fio"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="mb-2 row">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label for="date_birth" class="col-sm-2 col-form-label">Дата рождения:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;                        <p th:text="${filmTitle.getBirthDate()}" class="form-control-plaintext" id="date_birth">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--                <div class="mb-2 row">-->
<!--                    <label for="desc_director" class="col-sm-2 col-form-label">Описание:</label>-->
<!--                    <div class="col-sm-10">-->
<!--                        <p th:text="${director.getDirectorsFIO()()}" class="form-control-plaintext" id="desc_director">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
        <hr class="hr"/>
<!--        <div class="mt-2">-->
<!--            <a th:if="${film.getAmount() > 0}" sec:authorize="!hasRole('ADMIN')" class="btn btn-primary"-->
<!--               th:href="'/publish/get-book/' + ${book.id}">Арендовать книгу</a>-->
<!--            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>-->
        </div>
    </div>
</form>
</body>
</html>
